body { margin:0; padding:0; font-family: sans-serif; }
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #006400;
  color: white;
  padding: 8px;
  box-sizing: border-box;
  z-index: 1000;
  text-align: center;
}
h1 { margin: 0; font-size: 1.4em; }
#status { font-size: 0.8em; margin-top: 4px; }
#mbtilesPicker { margin-top: 8px; }
#map { height: 100vh; width: 100vw; }