body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0078d7;
    color: white;
    padding: 1rem;
    text-align: center;
}

#map {
    height: calc(100vh - 60px);
    width: 100%;
}

/* Markers personnalisés */
.leaflet-marker-icon.blue {
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.leaflet-marker-icon.red {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.leaflet-marker-icon.purple {
    background-color: purple;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
