html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  touch-action: pinch-zoom; /* permet le zoom global */
  font-family: Arial, sans-serif;
}

.leaflet-popup-content {
  max-width: 90vw;   /* popup large */
  font-size: 1rem;
}

#zipInput {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 6px;
  border-radius: 6px;
}
