
html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 80vh;
}

#controls {
  padding: 10px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 1em;
}

input[type=text] {
  width: 120px;
  margin-left: 5px;
}
