
html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 80vh;
}

#controls {
  padding: 10px;
  text-align: center;
}

button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1em;
}
