
html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 400px;
}
#controls {
  margin: 10px 0;
}
button {
  margin-right: 5px;
  padding: 5px 10px;
}
#info {
  margin-top: 10px;
  font-weight: bold;
}
#coords {
  margin-top: 10px;
}
label {
  margin-right: 10px;
}
input {
  width: 120px;
}
