html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 70vh;
}

#controls {
  margin: 10px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
}

#info {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
