body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

#controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  display: block;
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

#alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  z-index: 2000;
}

#stats {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
